.form-section {
  background: linear-gradient(135deg, #2d1b69 0%, #4a1548 50%, #8b2635 100%);
  border-radius: 30px;
  padding: 85px 125px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 50px auto;
  box-sizing: border-box;
}

.form-left {
  flex: 1;
  min-width: 280px;
  padding: 40px;
}

.form-left h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  max-width: 80%;
  font-weight: 500;
  margin-bottom: 20px;
  color: white;
  line-height: 120%;
  margin-bottom: 44px;
}

.form-left p {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 32px;
  font-family: "Funnel Display", sans-serif;
  font-weight: 400;
  max-width: 75%;
  line-height: 28px;
  color: white;
}

.form-right {
  flex: 1;
  min-width: 280px;
}

.form-right form {
  display: flex;
  flex-direction: column;
}

.form-right label {
  font-size: 20px;
  font-weight: 400;
  font-family: "Funnel Display", sans-serif;
  line-height: 26px;
  color: #fff;
  margin-top: 23px;
}

.form-right input,
.form-right select,
.form-right textarea {
  padding: 12px 16px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.form-right textarea {
  min-height: 100px;
  resize: vertical;
}

.form-submit {
  font-family: 'Funnel Display', sans-serif;
  margin-top: 30px;
   background: linear-gradient(to right, #dc6339);
  color: #ffe3e3;
  padding: 12px 20px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: inline-block;
  max-width: 100%;
  line-height: 26px;
}

.form-submit:hover {
  background: linear-gradient(to right, #dc6339);
}

@media (max-width: 991px) {
  .form-section {
    flex-direction: column;
    padding: 40px 20px;
    gap: 30px;
  }

  .form-left,
  .form-right {
    padding: 0;
    width: 100%;
  }

  .form-left h2 {
    font-size: 36px;
    max-width: 100%;
  }

  .form-left p {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .form-section {
    padding: 30px 15px;
    gap: 20px;
  }

  .form-left h2 {
    font-weight: 600;;
    font-size: 24px;
    line-height: 124%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .form-left p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    max-width: 100% !important;
    line-height: 26px;
  }

  .form-right input,
  .form-right select,
  .form-right textarea {
    font-size: 13px;
    padding: 10px 14px;
  }

  .form-submit {
    font-size: 15px;
    padding: 10px 20px;
  }
}
