/* Estilos gerais */

.border-test {
  border: solid 1px red;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
h2 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Funnel Display", sans-serif;
}

main section {
  max-width: 1500px;
  margin: 0 auto;
}

/* SEÇÃO HERO */
.hero-section {
  padding: 60px 100px 0;
  position: relative;
}
@media (max-width: 1400px) and (min-width: 1100px) {
   .hero-section {
    padding: 30px 20px;
  }
}
.home-main-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.hero-content {
  width: 50%;
}

.hero-content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
  line-height: 120%;
  color: #1c1c1c;
  font-weight: 600;
}

.hero-content p {
  font-family: "Funnel Display";
  font-size: 20px;
  font-weight: 400;
  line-height: auto;
  margin-bottom: 30px;
  color: #1c1c1c;
}

.hero-image {
  width: 50%;
  position: relative;
}

.hero-image img {
  width: 100%;
}

.floating-container {
  position: absolute;
  bottom: 3px;
  right: 0;
  width: 30%;
  height: 42%;
}

.floating-container img {
  max-width: 100%;
  height: 100%;
}

.hero-button-container {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: stretch;
}

.main-button-styles {
  display: inline-block;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 600;
}

.hero-button-container .main-button-styles {
  flex: 1 1 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  border-radius: 30px;
  box-sizing: border-box;
  min-width: 0;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

.news-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.primary-button {
  background-color: #dc6339;
  color: #fff;
  border: none;
}

.primary-button:hover {
  background-color: #e2e2e2;
  color: #000;
}

.secondary-button {
  padding: 12px 20px;
  font-size: 20px;
  color: black;
}

.secondary-button:hover {
  color: #fff;
  background-color: #dc6339;
}

.hero-button-container a.main-button-styles.secondary-button {
  background-color: #e2e2e2;
  border: 2px solid #e2e2e2;
  color: #000;
}

.hero-button-container a.main-button-styles.secondary-button:hover {
  background: #dc6339;
  color: #fff;
  border: 2px solid #dc6339;
}
.hero-button-container a.main-button-styles.secondary-button:visited {
  color: none;
}
.dark-button {
  color: #fff;
  background-color: #000;
}

.dark-button:hover {
  color: #fff;
  background-color: #dc6339;
}

.discover-button {
  display: inline-block;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 16px !important;
  font-weight: 500;
  font-family: DM SANS;
}

.discover-button:hover {
  transform: translateY(-3px);
}

.discover-button:active {
  transform: translateY(1px);
}

/* Estilo padrão (mobile - carrossel com scroll horizontal) */
.carrossel-wrapper {
  overflow: hidden;
  width: 100%;
  padding: 40px 0;
  background-color: #f2f2f2;
}

.carrossel-container {
  display: flex;
  gap: 60px;
  animation: scroll-left 30s linear infinite;
  align-items: center;
}

.carrossel-container img {
  height: 150px;
  width: auto;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.carrossel-container img:hover {
  filter: grayscale(0%);
}

/* Animação */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* SEÇÃO DE PRODUTOS */
.hidden-product,
.hidden-solution {
  display: none;
}

.products-section {
  padding: 60px 0;
}

.products-section h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  line-height: 120%;
  margin-bottom: 40px;
  font-size: 50px;
  color: #222;
  font-weight: 600;
}
.products-container {
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
  position: relative;
  padding-bottom: 15px;
}


.product-cards::-webkit-scrollbar {
  display: none;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.product-card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 30px;
  width: auto;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: #333;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.card-image {
  display: flex;
  justify-content: center;
  background-color: #fff;
  overflow: hidden;
  padding: 20px 20px 0 20px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.product-info {
  padding: 20px;
  position: relative;
}

.product-info h3 {
  margin: 0 0 10px 0;
  font-size: 26px;
  line-height: 120%;
  font-weight: 500;
}

.product-tag {
  position: absolute;
  top: -36px;
  right: 17px;
  background-color: #dc6339;
  color: white;
  width: 42px;
  height: 42px;
  border-radius: 43%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 20px;
}

.fa-arrow-right {
  transform: rotate(-30deg);
  display: inline-block;
  transition: transform 0.3s ease;
}

/* SEÇÃO DE ESTATÍSTICAS */
.stats-section {
  padding: 40px 0;
  margin-bottom: 5%;
}

.stats-cards {
  display: flex;
  gap: 30px;
  padding: 0 20px;
}

.stats-card {
  background-color: #dc6339;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.stats-card-one {
  width: 30%;
}

.stats-title {
  font-size: 55px;
  font-weight: 500;
}

.stats-subtitle {
  font-size: 22px;
  font-weight: 400;
}

/* SEÇÃO DE SOLUÇÕES DESTACADAS */

.section-tag {
  font-size: 20px;
  border-radius: 20px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #fff;
}

.section-header h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 120%;
  color: #1c1c1c;
  font-weight: 600;
  text-align: left;
  max-width: 800px;
}

.section-header-full h2 {
  margin-bottom: 40px;
  font-size: 50px;
  color: #222;
  font-weight: 600;
  text-align: left;
}

.section-tag i {
  font-size: 0.8em;
  color: #dc6339;
  text-align: center;
  padding: 5px;
}

.solution-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.solution-card {
  max-width: 700px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #dc6339;
  color: #fff;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 30px 30px 30px;
}

.solution-card img {
  height: 200px;
  display: flex;
  margin: 20px 10px;
  width: 526px;
  align-self: center;
}

.solution-content {
  padding: 20px;
  padding-top: 0px;
  flex: 1;
}

.solution-content h3 {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  line-height: 120%;
  margin-bottom: 10px;
  font-weight: 500;
}

.solution-content h2 {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  max-width: 60%;
}

.solution-content p {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}

.learn-more i {
  margin-left: 5px;
}

/* SEÇÃO DE SOLUÇÕES TRANSFORMADORAS */
.transformative-solutions {
  padding: 60px 20px;
}

.transform-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 8px;
  margin-bottom: 60px;
  column-gap: 196px;
}

.circle-icon:hover {
  background: #222;
  color: #fff;
}

.transform-item {
  border-bottom: solid 1px #dc6339;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.transform-wrapper {
}

.transform-wrapper h3 {
  font-size: 24px;
  height: 50px;
  font-weight: 600;
  margin-bottom: 60px;
  color: #1e1e1e;
}

.transform-wrapper p {
  font-family: "Funnel Display";
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.item-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 15px;
  color: #1c1c1c;
  background: transparent;
  border: 1px solid #1c1c1c;
  border-radius: 25px;
  transform: rotate(-30deg);
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 20px;
}

/* SEÇÃO DE PARCEIROS */
.partners-section {
  overflow: hidden;
}

.partners-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: 0 auto;
}

.partners-image img {
  max-width: 500px;
  border-radius: 10px;
}



.partners-content h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 118%;
  letter-spacing: -0.32px;
  margin-bottom: 40px;
}

/* ====== GRID DE LOGOS (DESKTOP) ====== */
.partners-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.partners-grid img {
  height: 85px;
  transition: transform 0.3s ease;
}

.partners-grid img:hover {
  transform: translateY(-3px);
}

/* ====== ESCONDER CARROSSEL NO DESKTOP ====== */
.partners-carousel {
  display: none;
}

/* SEÇÃO DE BLOG/DICAS */
.blog-section {
  padding: 60px 0;
  gap: 20px;
}

.blog-section .section-header {
  text-align: center;
}

.blog-section .section-header p {
  max-width: 900px;
  margin: 0 auto;
  color: #666;
}

.blog-text {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 40px;
}

.blog-text h2 {
  font-size: 50px;
  margin: 0;
  flex: 1;
  max-width: 900px;
  font-weight: 600;
  line-height: 120%;
}

.blog-text p {
  font-size: 20px;
  margin: 2.5% 0% 0% 0%;
  flex: 1;
  font-weight: 400;
  max-width: 900px;
  color: #1c1c1c;
}

.blog-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.blog-card {
  background-color: #fff;
  border-radius: 20px;
  border: solid #dc6339 1px;
}

.blog-card img {
  width: 100%;
  object-fit: cover;
}

.blog-content {
  display: flex;
  align-items: end;
  padding: 0 20px 20px 20px;
}

.blog-content h3 {
  font-size: 20px;
  width: 80%;
  font-weight: 600;
  color: #1e1e1e;
  max-width: 350px;
}

.learn-more {
  color: #1e1e1e;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
}

.arrow-icon {
  border: 1px solid #1c1c1c;
  padding: 10px;
  border-radius: 25px;
  color: #1c1c1c;
  background: transparent;
}
/* RESPONSIVIDADE */

@media (max-width: 768px) {
  .hero-section {
    padding: 20px 0;
  }
  .hero-content h1 {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
  }

  .section-header h2 {
    font-size: 35px;
    text-align: center;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
  }

  .hero-button-container {
    flex-direction: column;
    align-items: center;
  }

  .product-cards {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 16px;
    padding-bottom: 10px;
    padding: 0 20px;
  }

  .product-card {
    min-width: 80%;
    flex: 0 0 auto;
    scroll-snap-align: start;
  }

  .solution-cards {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  .solution-card {
    max-width: 100%;
  }
  /* Section Parceiros */
.partners-wrapper {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .partners-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .partners-grid {
    display: none; /* esconder grid e mostrar carrossel */
  }

  .partners-image {
    order: 2;
    display: flex;
    justify-content: center;
  }

  .partners-image img {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }

  /* === CARROSSEL MOBILE === */
  .partners-carousel {
    display: block;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
  }

  .carousel-track {
    display: flex;
    align-items: center;
    gap: 30px;
    animation: scrollInfinite 35s linear infinite;
  }

  .carousel-track img {
    height: 65px;
  }

  @keyframes scrollInfinite {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 640px) {
  .stats-cards {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 100%;
  }
  .products-section h2 {
    font-size: 36px;
  }

  .hero-content p {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
  }

  .stats-cards {
    width: 100%;
    padding: 0 20px;
  }

  .stats-card {
    width: 100%;
  }

  .transform-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .produtos-dropdown {
    grid-template-columns: 1fr;
    width: 100%;
    left: 0;
  }

  .solution-card {
    text-align: left;
  }

  .product-card {
    max-width: 58%;
  }

  .product-info h3 {
    font-size: 19px;
  }

  .section-header-full h2 {
    margin-bottom: 23px;
    font-size: 30px;

    text-align: center;
  }

  .stats-title {
    font-size: 28px;
  }

  .stats-subtitle {
    font-size: 22px;
    text-align: center;
  }

  .home-main-container {
    flex-direction: column;
    padding: 0 10px;
  }

  .main-button-styles {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin: 0 20px;
  }

  .hero-content {
    width: 80%;
  }

  .hero-image {
    width: 80%;
  }


  .blog-section {
    padding: 40px 20px;
  }

  /* Texto do blog (título e parágrafo) */
  .blog-text {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
  }

  .blog-text h2 {
    font-size: 28px;
    /* Tamanho menor para mobile */
    text-align: center;
    width: 100%;
  }

  .blog-text p {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }

  /* Cards do blog */
  .blog-cards {
    grid-template-columns: 1fr;
    /* 1 coluna em mobile */
    gap: 20px;
  }

  .blog-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .blog-content {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .blog-content h3 {
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .blog-content > div {
    width: 100%;
  }

  .blog-card .fa-arrow-right {
    align-self: flex-end;
    margin-top: 15px;
    color: #000;
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .section-tag {
    display: none;
  }

  product-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Responsividade para telas menores section parceiros*/
@media (max-width: 992px) {
  .partners-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .partners-content {
    max-width: 90%;
  }

  .partners-content h2 {
    font-size: 28px;
  }

  .partners-grid {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .partners-grid img {
    height: 75px;
  }

  .partners-image img {
    max-width: 400px;
    padding: 20px;
  }
}

/* ====== RESPONSIVIDADE PARA TABLETS (entre 769px e 1024px) ====== */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 90%;
  }

  h1, h2, h3 {
    font-size: 90%;
  }

  p, a, button, li {
    font-size: 90%;
  }
.container {
    padding: 0 0px;
  }
  /* Hero */
  .hero-section {
    padding: 40px 20px;
  }
  .hero-content h1 {
    font-size: 30px;
  }
  .hero-content p {
    font-size: 16px;
  }
  .main-button-styles {
    font-size: 16px;
  }

  /* Produtos */
  .products-section h2 {
    font-size: 42px;
  }
  .product-info h3 {
    font-size: 22px;
  }
  .product-cards {
    grid-template-columns: repeat(4, 1fr);
  }

  /* Soluções */
  .section-header h2 {
    font-size: 42px;
  }
  .solution-content h3 {
    font-size: 22px;
  }
  .solution-content p {
    font-size: 18px;
  }
.transform-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 100px;
}
  /* Parceiros */
  .partners-wrapper {
   
    text-align: left;
    gap: 40px;
  }
  .partners-content h2 {
    font-size: 42px;
  }
  .partners-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .partners-grid img {
    height: 75px;
  }

  /* Blog */
  .blog-text h2 {
    font-size: 42px;
  }
  .blog-text p {
    font-size: 18px;
  }
  .blog-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Estatísticas */
  .stats-title {
    font-size: 45px;
  }
  .stats-subtitle {
    font-size: 20px;
  }

  /* Transformações */
  .transform-wrapper h3 {
    font-size: 20px;
  }
  .transform-wrapper p {
    font-size: 16px;
  }
}
